h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: white;
}
#header {
    padding: 10px;
    text-align: center;
    background: #140005;
    color: white;
    font-size: 20px;
  }
  #footer {
     position: fixed;
     width: 100%;
     background-color: #BBC4C2;
     color: white;
     text-align: center;
     left: 0;
     bottom:0;
  }